<input type="text" class="form-control" name="title" value="<%= project.escape('title') %>" autofocus="autofocus" onfocus="this.value = this.value;"><br>
<input type="text"  class="form-control" name="url" value="<%= project.escape('url') %>"><br>
<div class="form-group">
<select name="gitrepo" class="form-control">
  <% _(Jects.repos).each(function (repo) { %>
    <% if(repo === project.escape('gitrepo')) { %>
      <option selected><%= repo %></option>
    <% } else { %>
      <option><%= repo %></option>
    <% } %>
  <% }) %>
</select>
</div>

<div class="form-group">
  <button class="btn btn-primary btn-lg">Update</button>
  <a class="btn refresh">
    <i class="fa fa-refresh"></i>
    Reload my repo list
  </a>
</div>

<a class="btn btn-default btn-sm checklist" alt="This generates a final project checklist for you">
  <i class="fa fa-check"></i>
  Generate checklist as github issues for this repo!
</a>


