<% if(!Jects.votes.findWhere({ project_id: project.id })) { %>
  <a class="upvote"><i class="fa fa-chevron-up"></i></a>
<% } else { %>
  <a class="upvote"><i class="fa fa-star"></i></a>
<% } %>
<a class="title project project-url" href="<%= project.get('url') %>">
  <i class="fa fa-external-link"></i>
  <%= project.escape('title') %>
</a>

&nbsp;

<a class="gitrepo project project-github" href="https://github.com/<%= project.escape('gitrepo') %>">
  <i class="fa fa-github"></i>
  <%= project.escape('gitrepo') %>
</a>
