<a class="upvote"><i class="fa fa-facebook"></i></a>
<a class="title project project-url" href="<%= project.get('url') %>">
  <i class="fa fa-external-link"></i>
  <%= project.escape('title') %>
</a>

&nbsp;

<a class="gitrepo project project-github" href="https://github.com/<%= project.escape('gitrepo') %>">
  <i class="fa fa-github"></i>
  <%= project.escape('gitrepo') %>
</a>
