<script>
  $(Jects.initialize);
  var UID = '<%= current_user.id %>';
  Jects.projects.set(<%= Project.all.to_json.html_safe %>);
  Jects.votes.set(<%= current_user.votes.to_json.html_safe %>);
  Jects.repos = <%= current_user.repos.pluck(:name).to_json.html_safe %>
</script>

<main id="main"></main>
