<div class="splash">
  <a href="/auth/github" class="btn">
    <i class="fa fa-github"></i>
    Sign in with Github
  </a>
</div>

<script>
  $(function () {
    var entrance = _.sample([
      'flip',
      'bounceIn',
      'bounceInDown',
      'bounceInLeft',
      'bounceInRight',
      'bounceInUp',
      'fadeIn',
      'fadeInDown',
      'fadeInLeft',
      'flipInX',
      'flipInY',
      'rotateIn',
      'rotateInDownLeft',
      'rotateInDownRight',
      'rollIn',
      'zoomIn'
    ]);
    console.log('Every exit is a ' + entrance + ' somewhere else.');
    $('.splash').addClass('animated ' + entrance);
  });
</script>

